@import "button";
@import "text";
@import "media-icon";
@import "colors";


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background-image: url(/images/header-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark1;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen  and ( min-width:1024px ) {
        height: 400px;
        align-items: start;
    }
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: $dark1;
    background: rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 5px;

    @media screen and (min-width: 769px) {
        font-size: 3em;
    }
    @media screen  and ( min-width:1024px ) {
        margin-left: 50px;
    }
}

menu {
    margin: 0;
    padding: 10px;
    background-color: $dark2;
    box-shadow: 0 1px 10px rgb(138, 138, 138);
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
}

.title {
    margin-bottom: 5px;
    text-align: right;

    span {
        color: $light;
        font-weight: bold;
        font-size: 1em;
        margin: 5%;
        display: none;

        @media screen and (min-width: 426px) {
            font-size: 1.2em;
        }
        @media screen and (min-width: 769px) {
            font-size: 1.5em;
        }
    }

}


.links {
    display: flex;
    justify-content: space-around;

    button {
        @include button;
        background: none; 
        color: $light;
        font-size: .7em;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        

        @media screen and (min-width: 768px) {
            font-size: .9em;
            font-weight: 700;
        }
        
    }

    button::after {
        content: "";
        display: block;
        background: rgba(255, 99, 71, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        padding: 2px;
        top: -2px;
        left: -2px;
        transform: translateY(100%);  
        transition: transform .5s;      
    }

    button:hover::after {
        transform: translateY(0);        
    }
}

main {
    background-color: $dark1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

section {
    @include section-txt;
    color: $light;

    h2 {
        font-size: 1.3em;
        
        @media screen and (min-width: 768px) {
            font-size: 2em;
        }
    }

    p {
        text-align: justify;
        font-size: .8em;
    
        @media screen and (min-width: 1024px) {
            font-size: .9em;
        }
    }

    @media screen  and ( min-width:1024px ) {
        width: 75%;
    }
}

img {
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;    
}

@media screen and (min-width: 480px) {
            
    .img-left {
        float: left;
        width: 35%;
        margin: 10px;
        
    }
    .img-right {
        float: right;
        width: 35%;
        margin: 10px;
        
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $dark2;
    color: $light;
    padding: 20px;
}

footer > p {
    font-weight: bold;
    margin: 0;
}

.media {
    text-align: center;
    width: 90%;

    p {
        text-align: center;
        margin: 0;
    }

    i {
        color: rgb(245, 245, 245);
        margin: 0 5px;
    }


    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        i {
            font-size: 1.5em;
        }
    }
}

